:root {
    --main-bg-color: rgb(164, 77, 235);
    --score-bg-color: aquamarine;
    --button-bg-color: #f8f9fa;
    --button-hover-color: #e0e0e0;
}

#main {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    padding: 1em;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

#score {
    padding: 3rem;
    background-color: var(--score-bg-color);
    width: fit-content;
    border-radius: 5px;
}

@media (max-width: 600px) {
    #main {
        padding: 3rem;
    }

    button {
        padding: 0.5em;
    }

    #score {
        padding: 1rem;
    }
}
