.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding auto wont be supported */
    padding: 2rem;
    margin: auto;
    border: 1em solid black;
}